<% content_for :title, "Editing Cluster" %>

<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Clusters", clusters_path %></li>
            <li class="breadcrumb-item"><%= link_to @cluster.name, cluster_path(@cluster) %></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
          </ol>
        </nav>
        <div class="page-pretitle">Database Management</div>
        <h2 class="page-title">Edit Cluster: <%= @cluster.name %></h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <%= link_to "Cancel", cluster_path(@cluster), class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <%= render "form", cluster: @cluster %>
  </div>
</div>
