<div id="<%= dom_id node %>">
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th style="width: 200px;">Provider</th>
          <td>
            <% if node.provider.present? %>
              <span class="badge bg-info"><%= node.provider.name %></span>
              <% if node.provider&.provider_type %>
                <span class="text-muted ms-2">(<%= node.provider.provider_type.name %>)</span>
              <% end %>
            <% else %>
              <span class="text-muted">No provider assigned</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Status</th>
          <td>
            <%= node_status_badge(node) %>
            <%= node_status_message_area(node, class: 'ms-2') %>
          </td>
        </tr>
        <tr>
          <th>Node Type</th>
          <td>
            <% if node.replica? %>
              <span class="badge bg-warning">Replica</span>
              <span class="text-muted ms-2">Replica of <%= node.parent_node.name %></span>
            <% else %>
              <span class="badge bg-primary">Primary</span>
              <% if node.has_replicas? %>
                <span class="text-muted ms-2"><%= pluralize(node.replicas.count, 'replica') %></span>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Cluster</th>
          <td>
            <% if defined?(@cluster) && @cluster %>
              <%= link_to @cluster.name, cluster_path(@cluster) %>
            <% elsif node.respond_to?(:cluster) && node.cluster %>
              <%= link_to node.cluster.name, cluster_path(node.cluster) %>
            <% else %>
              <span class="text-muted">No cluster</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Created</th>
          <td>
            <%= node.created_at.strftime("%B %d, %Y at %I:%M %p") %>
            <span class="text-muted">(<%= time_ago_in_words(node.created_at) %> ago)</span>
          </td>
        </tr>
        <tr>
          <th>Last Updated</th>
          <td>
            <%= node.updated_at.strftime("%B %d, %Y at %I:%M %p") %>
            <span class="text-muted">(<%= time_ago_in_words(node.updated_at) %> ago)</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
