<% content_for :title, "Edit #{@database_type.name} #{@database_type_version.version}" %>

<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Database Types", database_types_path %></li>
            <li class="breadcrumb-item"><%= link_to @database_type.name, database_type_path(@database_type) %></li>
            <li class="breadcrumb-item"><%= link_to @database_type_version.version, database_type_database_type_version_path(@database_type, @database_type_version) %></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
          </ol>
        </nav>
        <div class="page-pretitle">Database Version Management</div>
        <h2 class="page-title">Edit Version: <%= @database_type.name %> <%= @database_type_version.version %></h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <%= link_to "Cancel", database_type_database_type_version_path(@database_type, @database_type_version), class: "btn btn-outline-secondary" %>
          <% if @database_type_version.nodes.empty? %>
            <%= button_to "Delete", [@database_type, @database_type_version], method: :delete,
                        data: { confirm: "Are you sure you want to delete this version?" },
                        class: "btn btn-outline-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <%= render 'form', database_type_version: @database_type_version %>
      </div>
    </div>
  </div>
</div>
