<p style="color: green"><%= notice %></p>

<%= render @credential %>

<div>
  <%= link_to "Edit this credential", edit_cluster_credential_path(@cluster, @node, @credential) %> |
  <%= link_to "Back to credentials", @cluster %>

  <%= button_to "Destroy this credential", [@cluster, @node, @credential], method: :delete %>
</div>
